.git
.gitignore
.vs
.vscode
*.sln.dotSettings.user
*.user
.idea
**/bin
**/obj
**/publish
**/out
**/node_modules
**/dist
**/build
.npm
npm-debug.log
.env
.env.*
! .env.example
secrets.json
appsettings.Development.json
docker-compose*
Dockerfile*